* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.nav-item {
  margin: 0 35px 0 35px;
  padding-top: 20px;
}

.nav-item a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  padding: 10px 12px;
  text-decoration: none;
}

.nav-item2 img {
  width: 24px;
  height: 24px;
  left: 3px;
  top: 6px;
}

.desktop-menu {
  display: none;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 58px;
  background-image: url("img/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.first-welcome-text h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding-top: 64px;
}

#color-green {
  color: #36b37e;
  display: block;
}

.second-welcome-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  padding-left: 24px;
  padding-right: 24px;
}

#social-icons {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 19.01px;
  list-style: none;
}

#social-icons li a {
  text-decoration: none;
}

.about-work-title {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 22px;
}

.about-work-title h2 {
  width: 327px;
  height: 97px;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.bar {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin-left: 134px;
  margin-top: 24px;
  margin-bottom: 62px;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 22px;
  grid-gap: 20px;
  justify-items: center;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 37px 22px 22px 22px;
  grid-gap: 20px;
  justify-items: center;
}

.skill-item {
  height: 352px;
  width: 327px;
  border-radius: 8px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skill-item img {
  margin-top: 22px;
}

.skill-item h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 40px;
}

.skill-list div {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  padding: 8px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
}

.card-item {
  display: flex;
  justify-content: center;
  height: 474px;
  width: 327px;
  left: 0;
  top: 0;
  border-radius: 8px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
}

.down-card {
  height: 220px;
  width: 327px;
  left: 0;
  margin-top: 252px;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background: #fff;
}

.down-card h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.skills li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px;
  background: #ebf0ee;
  border-radius: 4px;
  list-style: none;
}

.button {
  padding: 12px;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  margin: auto;
}

.my-resume {
  font-family: 'Inter', sans-serif;
  color: #fff;
  padding: 12px;
  width: 159px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  margin-left: 30%;
}

.my-resume p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

.button p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.about-me h2 {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-me-text p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 22px;
}

.footer-section {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 22px;
}

form {
  width: 90%;
  margin: 0 auto;
}

.input-text {
  font-family: 'Inter', sans-serif;
  height: 48px;
  width: 90%;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 12px;
  margin-left: 24px;
  margin-right: 24px;
  justify-self: center;
}

textarea {
  font-family: 'Inter', sans-serif;
  width: 90%;
  padding: 12px;
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  margin-left: 24px;
  margin-right: 24px;
  height: 114px;
}

input[type="submit"] {
  padding: 12px;
  width: 129px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  margin: 24px 35% 24px;
  border: 1px solid #d0d9d4;
  color: #fff;
  margin-bottom: 50px;
}

input[type="submit"]:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"] :active {
  background: #008552;
  border-radius: 4px;
}

.email-container {
  height: 189px;
}

.email-container p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 24px;
}

button:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  cursor: pointer;
}

button:active {
  background: #008552;
  border-radius: 4px;
}

.button:active {
  background: #008552;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .desktop-menu {
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .desktop-menu ul {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 22px 36px 0 24px;
  }

  .desktop-menu ul li a {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: #3a4a42;
    text-decoration: none;
  }

  #nav-container {
    display: none;
  }

  header {
    background-image: url(img/desktop-img/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-position: center top;
  }

  #home {
    background-image: none;
    gap: 24px;
  }

  .second-welcome-text {
    padding-left: 20%;
    padding-right: 20%;
  }

  .scroll {
    margin-top: 30px;
    margin-bottom: 512px;
  }

  .about-work-title h2 {
    width: auto;
    height: auto;
    color: #172b4d;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }

  .bar {
    display: none;
    width: 48px;
    height: 4px;
    background: #36b37e;
    border-radius: 24px;
    margin-left: 134px;
    margin-top: 24px;
    margin-bottom: 62px;
  }

  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    grid-gap: 20px;
    justify-items: center;
    padding: 0 115px 0 115px;
    margin-top: 52px;
  }

  .about-me {
    margin-top: 192px;
    background-image: url(img/desktop-img/illustration-about-me-2-desktop-left.svg), url(img/desktop-img/illustration-about\ me-1-desktop-right.svg);
    background-repeat: no-repeat;
    background-position: bottom left, right top;
  }

  .about-me-text {
    padding-left: 20%;
    padding-right: 20%;
  }

  .my-resume {
    margin: 0;
  }

  .my-resuem-btn {
    display: flex;
    justify-content: center;
  }

  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 80%;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-section {
    display: flex;
    margin: 164px 142px 0 142px;
    gap: 24;
  }

  .contact-text {
    width: 463px;
  }

  .contact-text p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    align-items: center;
    color: #172b4d;
  }

  .form-section {
    width: 684px;
    padding: 0;
    font-family: 'Inter', sans-serif;
  }

  .input-text {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  textarea {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  input[type="submit"] {
    margin: 24px 0 24px;
  }

  form {
    width: 100%;
  }

  .email-container {
    display: none;
  }

  .social-icon {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 19.01px;
    list-style: none;
    width: 100%;
    border-top: 1px solid #dfe1e6;
    padding: 28.03px;
  }

  .footer-background {
    width: 100%;
    background-image: url(img/desktop-img/illustration-1-contact-form-desktop.svg), url(img/desktop-img/contact\ form-illustratoin-3-desktop--right.svg);
    background-repeat: no-repeat;
    background-position: center left, center right;
    background-size: 235.78px 261.79px;
    height: 225px;
  }

  .first-welcome-text h1 {
    margin-top: 186px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 20%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .second-welcome-text p {
    animation-duration: 3s;
    animation-name: second;
  }

  @keyframes second {
    from {
      margin-left: 20%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .card-item, .skill-item {
    transition: all 0.5s ease-out;
  }

  .card-item:hover, .skill-item:hover {
    transform: scale(0.98);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

}
