* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin: 0 35px 0 35px;
}

.nav-item h1 {
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

.nav-item img {
  width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
}

.nav-item2 {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-content: center;
}
