* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.nav-item {
  margin: 0 35px 0 35px;
  padding-top: 20px;
}

.nav-item a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  padding: 10px 12px;
  text-decoration: none;
}

.nav-item2 img {
  width: 24px;
  height: 24px;
  left: 3px;
  top: 6px;
}

.hamburger-menu {
  background: #fff;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border-radius: 0 0 50px 50px;
}

.close-menu {
  display: flex;
  flex-direction: row-reverse;
  padding: 30px 36px 0 0;
  font-weight: 500;
  color: #67798e;
  font-size: 30px;
  z-index: 1;
}

.mobile-menu-items li a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #3a4a42;
  line-height: 44px;
  margin-left: 28px;
  display: flex;
  padding-top: 20px;
}

.pop-up-layer {
  background: rgba(193, 199, 208, 0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: auto;
  display: none;
  align-content: center;
  justify-content: center;
  z-index: 1;
  padding-bottom: 20px;
}

.main-pop-up {
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  height: 836px;
  width: 90%;
  margin-top: 20px;
  margin-right: 10px;
}

.close-pop {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}

.close-pop p {
  color: #67798e;
  font-weight: 500;
  font-size: 34px;
  margin-left: 20px;
}

.pop-img {
  width: 311px;
  height: 220px;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 12px;
}

.pop-img img {
  width: auto;
  height: auto;
}

.pop-head-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 12px;
}

.pop-d p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.pop-buttons {
  display: flex;
  gap: 35px;
  margin-top: 10px;
}

.see-live {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;
  width: 158px;
  height: 48px;
  top: 4px;
  background: #36b37f;
  border-radius: 4px;
  border-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.see-source {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;
  width: 158px;
  height: 48px;
  top: 4px;
  background: #36b37f;
  border-radius: 4px;
  border-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
}

.desktop-menu {
  display: none;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 58px;
  background-image: url("img/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.first-welcome-text h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding-top: 64px;
}

#color-green {
  color: #36b37e;
  display: block;
}

.second-welcome-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  padding-left: 24px;
  padding-right: 24px;
}

#social-icons {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 19.01px;
  list-style: none;
}

#social-icons li a {
  text-decoration: none;
}

.about-work-title {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 22px;
}

.pop-skills-display .hide-pop {
  display: none;
}

.about-work-title h2 {
  width: 327px;
  height: 97px;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.bar {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin-left: 134px;
  margin-top: 24px;
  margin-bottom: 62px;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 22px;
  grid-gap: 20px;
  justify-items: center;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 37px 22px 22px 22px;
  grid-gap: 20px;
  justify-items: center;
}

.skill-item {
  height: 352px;
  width: 327px;
  border-radius: 8px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skill-item img {
  margin-top: 22px;
}

.skill-item h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 40px;
}

.skill-list div {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  padding: 8px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
}

.card-item {
  display: flex;
  justify-content: center;
  height: 474px;
  width: 327px;
  left: 0;
  top: 0;
  border-radius: 8px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
}

.down-card {
  height: 220px;
  width: 327px;
  left: 0;
  margin-top: 252px;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background: #fff;
}

.down-card h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.skills li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px;
  background: #ebf0ee;
  border-radius: 4px;
  list-style: none;
}

.button {
  padding: 12px;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  margin: auto;
}

.pop-skills-display ul {
  display: flex;
  align-content: center;
  gap: 20px;
  list-style: none;
  margin-bottom: 20px;
}

.pop-skills-display ul li {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  width: 98px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #3a4a42;
  text-decoration: none;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-resume {
  font-family: 'Inter', sans-serif;
  color: #fff;
  padding: 12px;
  width: 159px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  margin-left: 30%;
}

.my-resume p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

.button p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.about-me h2 {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-me-text p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 22px;
}

.footer-section {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 22px;
}

form {
  width: 90%;
  margin: 0 auto;
}

#name,
#email {
  font-family: 'Inter', sans-serif;
  height: 48px;
  width: 90%;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 12px;
  margin-left: 24px;
  margin-right: 24px;
  justify-self: center;
}

#comments {
  font-family: 'Inter', sans-serif;
  width: 90%;
  padding: 12px;
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  margin-left: 24px;
  margin-right: 24px;
  height: 114px;
}

input[type="submit"] {
  padding: 12px;
  width: 129px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  margin: 24px 35% 24px;
  border: 1px solid #d0d9d4;
  color: #fff;
  margin-bottom: 50px;
}

input[type="submit"]:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"] :active {
  background: #008552;
  border-radius: 4px;
}

.email-container {
  height: 189px;
}

.email-container p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 24px;
}

button:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  cursor: pointer;
}

button:active {
  background: #008552;
  border-radius: 4px;
}

.button:active {
  background: #008552;
  border-radius: 4px;
}

.error-display {
  color: #fff;
  font-size: small;
  display: none;
  padding: 10px 10px;
  text-align: center;
  background-color: #ff6163;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .desktop-menu {
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .desktop-menu ul {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 22px 36px 0 24px;
  }

  .desktop-menu ul li a {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: #3a4a42;
    text-decoration: none;
  }

  #nav-container {
    display: none;
  }

  header {
    background-image: url(img/desktop-img/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-position: center top;
  }

  #home {
    background-image: none;
    gap: 24px;
  }

  .second-welcome-text {
    padding-left: 20%;
    padding-right: 20%;
  }

  .scroll {
    margin-top: 30px;
    margin-bottom: 512px;
  }

  .about-work-title h2 {
    width: auto;
    height: auto;
    color: #172b4d;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }

  .bar {
    display: none;
    width: 48px;
    height: 4px;
    background: #36b37e;
    border-radius: 24px;
    margin-left: 134px;
    margin-top: 24px;
    margin-bottom: 62px;
  }

  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    grid-gap: 20px;
    justify-items: center;
    padding: 0 115px 0 115px;
    margin-top: 52px;
  }

  .about-me {
    margin-top: 192px;
    background-image: url(img/desktop-img/illustration-about-me-2-desktop-left.svg), url(img/desktop-img/illustration-about\ me-1-desktop-right.svg);
    background-repeat: no-repeat;
    background-position: bottom left, right top;
  }

  .about-me-text {
    padding-left: 20%;
    padding-right: 20%;
  }

  .my-resume {
    margin: 0;
    animation: wiggle 2s linear infinite;
  }

  @keyframes wiggle {
    0%,
    7% {
      transform: rotateZ(0);
    }

    15% {
      transform: rotateZ(-15deg);
    }

    20% {
      transform: rotateZ(10deg);
    }

    25% {
      transform: rotateZ(-10deg);
    }

    30% {
      transform: rotateZ(6deg);
    }

    35% {
      transform: rotateZ(-4deg);
    }

    40%,
    100% {
      transform: rotateZ(0);
    }
  }

  .my-resuem-btn {
    display: flex;
    justify-content: center;
  }

  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 80%;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-section {
    display: flex;
    margin: 164px 142px 0 142px;
    gap: 24px;
  }

  .contact-text {
    width: 463px;
  }

  .contact-text p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    align-items: center;
    color: #172b4d;
  }

  .form-section {
    width: 684px;
    padding: 0;
    font-family: 'Inter', sans-serif;
  }

  .input-text {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #comments {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  input[type="submit"] {
    margin: 24px 0 24px;
  }

  form {
    width: 100%;
  }

  .email-container {
    display: none;
  }

  .social-icon {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 19.01px;
    list-style: none;
    width: 100%;
    border-top: 1px solid #dfe1e6;
    padding: 28.03px;
  }

  .footer-background {
    width: 100%;
    background-image: url(img/desktop-img/illustration-1-contact-form-desktop.svg), url(img/desktop-img/contact\ form-illustratoin-3-desktop--right.svg);
    background-repeat: no-repeat;
    background-position: center left, center right;
    background-size: 235.78px 261.79px;
    height: 225px;
  }

  .first-welcome-text h1 {
    margin-top: 186px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 20%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .second-welcome-text p {
    animation-duration: 3s;
    animation-name: second;
  }

  @keyframes second {
    from {
      margin-left: 20%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .card-item,
  .skill-item {
    transition: all 0.5s ease-out;
  }

  .card-item:hover,
  .skill-item:hover {
    transform: scale(0.98);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .pop-up-layer {
    background: rgba(193, 199, 208, 0.9);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1;
    padding-bottom: 20px;
  }

  .main-pop-up {
    padding: 16px;
    background: #fff;
    border: 1px solid #ebecf0;
    width: 920px;
    height: 1083px;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }

  .close-pop {
    background-color: rgba(193, 199, 208, 0.4);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    position: unset;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
  }

  .close-pop p {
    color: #67798e;
    font-weight: 500;
    text-align: center;
  }

  .pop-img {
    width: 872px;
    height: 616px;
    background-image: url('img/Container/SnapshootPortfolio.png');
    border-radius: 8px;
    margin-bottom: 12px;
    margin-top: 14px;
  }

  .pop-img img {
    display: none;
  }

  .pop-head-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin-bottom: 12px;
    height: 82px;
    order: 1;
  }

  .pop-d p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
    width: 876px;
    height: 151px;
    margin-top: 36px;
  }

  .pop-buttons {
    display: flex;
    gap: 12px;
    margin-top: 10px;
    order: 2;
  }

  .see-live {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 12px;
    width: 158px;
    height: 48px;
    top: 4px;
    background: #36b37f;
    border-radius: 4px;
    border-style: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
  }

  .see-source {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 12px;
    width: 158px;
    height: 48px;
    top: 4px;
    background: #36b37f;
    border-radius: 4px;
    border-style: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
  }

  .pop-skills-display ul {
    display: flex;
    align-content: center;
    gap: 8px;
    list-style: none;
  }

  .pop-skills-display ul li {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #3a4a42;
    text-decoration: none;
    padding: 8px 12px;
    background: #ebf0ee;
    border-radius: 4px;
  }

  .pop-skills-display .hide-pop {
    display: inline;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pop-window {
    display: grid;
    grid-template-columns: auto;
  }
}

.pop-skills-display {
  order: 3;
  grid-column: 1/span 2;
}

.pop-d {
  order: 4;
  grid-column: 1/span 2;
}

label {
  display: none;
}
